.container{
	width:100%;
	height:600px;
	padding:20px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background: black;
}
.slider_wrapper{
	overflow: hidden;
	position:relative;
	height:100%;
	top:auto;
}
#image_slider{

	position: relative;
	height: auto;
	list-style: none;
	overflow: hidden;
	float: left;
	padding:0px;
	margin:0px;
}
#image_slider li{
	position: relative;
	float: left;
	max-width:1065px;
}
.nvgt{
	position:absolute;
	top: 250px;
	height: 50px;
	width: 30px;
	opacity: 0.6;
}
.nvgt:hover{
	opacity: 0.9;
}
#prev{
	background: #000 url('img/arrowleft.png') no-repeat center;
	left: 0px;
}
#next{
	background: #000 url('img/arrowright.png') no-repeat center;
	right: 0px;
}
